<!--login/logout button-->
<html>
        <head>
                <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
              
              </head>

    <body>

            <div>

                    {% if 'username' not in session %}
                
                       <a href="{{url_for('showLogin')}}" class="navbar-text navbar-margin-btn my_btn hel">
                
                         <button type="button" class="btn btn-default my_btn hel navbar-btn">
                
                         LogIn
                
                         </button>
                
                       </a>
                
                       {% else %}
                
                       <a href="{{url_for('gdisconnect')}}" class="navbar-margin-btn navbar-text my_btn hel">
                
                         <button type="button" class=" navbar-btn  my_btn hel btn btn-default">
                
                         Log Out
                
                         </button>
                
                       </a>
                
                       {% endif %}
                
                  </div>
            
    </body>
        

</html>
